<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.groupname"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.NFC" />

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <uses-feature android:name="android.hardware.nfc" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/my_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.groupname.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >

        </activity>
        <activity
            android:name="com.example.groupname.BeginActivity"
            android:label="@string/title_activity_begin"
            android:parentActivityName="com.example.groupname.MainActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.myfirstapp.MainActivity" />
        </activity>
        <activity
            android:name="com.example.groupname.SendDattActivity"
            android:label="@string/title_activity_datt"
            android:parentActivityName="com.example.groupname.MainActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.groupname.MainActivity" />
        </activity>
        <activity
            android:name="com.example.groupname.ReceiveDattActivity"
            android:label="@string/title_activity_receive_datt"
            android:parentActivityName="com.example.groupname.MainActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="application/com.example.groupname.datt" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.groupname.MainActivity" />
        </activity>
        <activity
            android:name="com.example.groupname.MovementsActivity"
            android:label="@string/title_activity_movements"
            android:parentActivityName="com.example.groupname.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.groupname.MainActivity" />
        </activity>
        <activity
            android:name="com.example.groupname.HaveAntidoteActivity"
            android:label="activity_have_antidote" >
        </activity>
        <activity
            android:name="com.example.groupname.PlayerlistActivity"
            android:label="@string/title_activity_playerlist" >
        </activity>
        <activity
            android:name="com.example.groupname.HaveNormalActivity"
            android:label="activity_have_normal" >
        </activity>
        <activity
            android:name="com.example.groupname.HaveVirusActivity"
            android:label="activity__have_virus" >
        </activity>
        <activity
            android:name="com.example.groupname.FirstActivity"
            android:label="@string/title_activity_first"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
                <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
